@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --background: #292627;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #fff;
    --background: #292627;
  }
}

body {
  color: var(--white);
  background: var(--background);
  font-weight: 100;
}
