@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #e4e4de;
  --background: #e4e4de;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #e4e4de;
    --background: #e4e4de;
    --green: #A4D5A9;
  }
}

body {
  color: var(--white);
  background: var(--background);
  font-weight: 300;
  font-size: 16px;
}
